services:
  - type: web
    name: honeygain-service
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    region: singapore
    healthCheckPath: /
    autoDeploy: true
    envVars:
      - key: PORT
        value: 10000
